
body { 
    background: url(../img/wallpaper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.99;
  }
  html:hover body{
	opacity: 1;
}
img{
  background-color: transparent;
}